#block-container {
    display: flex;
    flex-direction: column;
    padding: 0 10vw 100px 10vw;
    gap: 50px;
    justify-content: center;
}
.block {
    display: flex;
    width: 80vw;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 24px 0 rgba(0, 50, 100, 0.6) inset, 0 0 12px 4px rgba(0, 50, 100, 0.6);
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}
.block-image {
    height: 200px;
    box-shadow: 0 0 4px 2px rgb(0, 50, 100);
    border-radius: 40px;
}
.block-text {
    margin: auto auto;
    padding: 10px 20px;
    font-size: 1.4em;
    font-family: Play-Bold,serif;
}
.line {
    margin: 0 2vw;
    width: 4em;
    height: 0.3em;
    border-radius: 12px / 20px;
}
.line:first-child {
    background: linear-gradient(to left, white, rgba(0, 0, 0, 0));
}
.line:last-child {
    background: linear-gradient(to right, white, rgba(0, 0, 0, 0));
}
@media screen and (max-width: 800px) {
    #block-container {
        padding: 0 10vw 12.5vw 10vw ;
        gap: 6.25vw;
    }
    .block {
        height: 25vw;
        border-radius: 5vw;
        padding: 1.25vw;
    }
    .block-image {
        height: 25vw;
        border-radius: 5vw;
    }
    .block-text {
        padding: 1.25vw 2.5vw;
    }
}
@media screen and (max-width: 35em) {
    .block-text {
        font-size: 4vw;
    }
}
@media screen and (max-width: 24em) {
    #name {
        font-size: 12.5vw;
    }
}
@media screen and (max-width: 2000px) {
    #name {
        margin: 2vw 0;
    }
}
.veil-container {
    position: relative;
}
.veil {
    user-select: none;
    position: absolute;
    width: 80vw;
    height: 200px;
    border-radius: 40px;
    padding: 10px;
    background-color: #000A;
    translate: -10px -10px;
    font-family: Whisper-Regular, serif;
    font-size: 1.2em;
    transform: translateY(250px);
    border: 2px black solid;
}
.veil-blur {
    position: absolute;
    width: 80vw;
    height: 200px;
    border-radius: 40px;
    padding: 10px;
    translate: -10px -10px;
    transition: backdrop-filter 1s;
}
@media screen and (max-width: 800px) {
    .veil-blur {
        height: 25vw;
        border-radius: 5vw;
        padding: 1.25vw;
        translate: -1.25vw -1.25vw;
    }
}
.block:active .veil-blur {
    backdrop-filter: blur(2px) brightness(60%);
}
.block:active .veil-container .veil {
    transform: translateY(100px);
}
@media screen and (max-width: 800px) {
    .veil {
        height: 25vw;
        border-radius: 5vw;
        padding: 1.25vw;
        translate: -1.25vw -1.25vw;
        transform: translateY(31.25vw);
    }
}
@media screen and (max-width: 60em) {
    .veil {
        font-size: 2vw;
    }
}
@media screen and (max-width: 800px) {
    .block:active .veil-container .veil {
        transform: translateY(12.5vw);
    }
}