#Idol {
    margin: 40px 0;
    font-size: 3em;
}
@media screen and (max-width: 15em) {
    #Idol {
        font-size: 20vw;
    }
}
@media screen and (max-width: 400px) {
    #Idol {
        margin: 10vw 0;
    }
}